name: Build Sphinx Docs

on:
  push:
    branches: [ main ]
    paths:
      - 'VirtualHumans/**'
      - 'GenerativeAI_ComputationalPsychology/**'
      - 'STAT350/Website/**'
      - 'ComputationalDataScience/Website/**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install sphinx sphinx-rtd-theme

      - name: Build VirtualHumans docs
        run: |
          mv VirtualHumans/_sources /tmp/sphinx-source
          sphinx-build -b html /tmp/sphinx-source VirtualHumans/
          rm -rf VirtualHumans/_sources
          mv /tmp/sphinx-source VirtualHumans/_sources

      - name: Build GenerativeAI_ComputationalPsychology docs
        run: |
          mv GenerativeAI_ComputationalPsychology/_sources /tmp/sphinx-source
          sphinx-build -b html /tmp/sphinx-source GenerativeAI_ComputationalPsychology/
          rm -rf GenerativeAI_ComputationalPsychology/_sources
          mv /tmp/sphinx-source GenerativeAI_ComputationalPsychology/_sources

      - name: Build STAT350 Website docs
        run: |
          mv STAT350/Website/_sources /tmp/sphinx-source
          sphinx-build -b html /tmp/sphinx-source STAT350/Website/
          rm -rf STAT350/Website/_sources
          mv /tmp/sphinx-source STAT350/Website/_sources

      
      - name: Build Computational Methods for Data Science Website docs
        run: |
          mv ComputationalDataScience/Website/_sources /tmp/sphinx-source
          sphinx-build -b html /tmp/sphinx-source ComputationalDataScience/Website/
          rm -rf ComputationalDataScience/Website/_sources
          mv /tmp/sphinx-source ComputationalDataScience/Website/_sources

      - name: Commit and push changes
        run: |
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git add VirtualHumans/ GenerativeAI_ComputationalPsychology/ STAT350/Website/
          git commit -m "Update Sphinx docs" || echo "No changes to commit"
          git push origin main
